@import '../../assets/scss/variables';

.footer {
  background-color: $primary;
  padding: 0px;
  color: white;

  .telegram-link {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .telegram-icon {
    width: 24px;
    height: 24px;
  }

  .footer-main-section {
    padding: 30px 120px;

    .footer-title {
      color: white;
      font-weight: bold;
    }

    .footer-link-section {
      display: flex;
      flex-direction: column;
      gap: 10px;
      font-size: 18px;
      font-weight: 400;
      padding: 0px 80px;

      a {
        color: white;
      }

      a:hover {
        text-decoration: underline;
      }

      .footer-link-title {
        margin-bottom: 5px;

        .footer-link-title-text {
          font-size: 22px;
          font-weight: 500;
          padding-bottom: 5px;
          font-weight: 600;
        }
      }
    }
  }

  .footer-copyright-section {
    padding: 10px 0px;
    border-top: 1px solid white;

    .footer-copyright-text {
      color: white;
      font-weight: bold;
    }
  }
}
