@import '../../assets/scss/variables.scss';

.header {
  min-height: 100px;
  align-items: center;
  background-color: white;
  padding: 30px 120px;
  z-index: 2;

  .header-title {
    margin: 0px;
    a {
      color: $primary;
    }
    font-weight: bold;
  }

  .header-tabs > * {
    display: flex;
  }

  .header-tabs a {
    font-size: 20px;
    line-height: 0px;
  }

  .user-header {
    color: $primary;

    span {
      margin-right: 8px;
    }
  }

  .fav-section {
    display: flex;
    gap: 6px;
    align-items: center;

    > span {
      color: $primary;
    }
  }

  .header-fav {
    width: 22px;
    height: 20px;
    cursor: pointer;
  }

  .telegram-icon {
    width: 30px;
    height: 30px;
  }
}
