@import "../../assets/scss/variables";

.search-bar-wrapper {
  display: flex;
  gap: 40px;
  position: relative;

  .search-bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  
    .search-input {
      font-size: 18px;
      color: $primary;
      width: 100%;
      height: 50px;
      background: $secondary;
      outline: none;
      border: none;
      border-radius: 16px;
      padding: 25px 25px 25px 65px !important;
      cursor: text;
    
      &::placeholder {
        color: $primary;
        opacity: 1;
      }
    }
  
    .search-icon {
      width: 20px;
      height: 20px;
      position: absolute;
      left: 25px;
      top: 13px;
      font-size: 20px;
    }
  }

  .favourites-icon-container {
    position: relative;

    .favourites-icon {
      width: 35px;
      height: 35px;
      vertical-align: auto;
    }
  
    .favourites-count {
      position: absolute;
      left: 36%;
      top: 14%;
      color: $primary;
    }
  }
}
