@import "../../assets/scss/variables";

.home-info-section {
  padding: 90px;

  &.about-us-section {
    img {
      width: clamp(200px, 100%, 350px);
    }
  }

  .home-info-paragraph {
    font-size: 20px;
  }

  .home-info-title {
    margin-top: 0px;
  }
}

.why-wine-section {
  background-color: $secondary;
  padding: 45px 90px;

  background-image: url("../../assets/img/dots.svg");
  background-size: 150px;
  background-repeat: no-repeat;
  background-position: 85% 10%;

  .why-wine-header {
    padding-bottom: 30px;

    .why-wine-title {
      color: $primary;
      font-weight: bold;
      margin: 0px;
    }
  }

  .why-wine-subsection-title {
    font-size: 20px;
    font-weight: 500;
  }

  .why-wine-subsection-text {
    font-size: 18px;
  }
}

.suggest-section {
  min-height: 170px;
  background-image: url("../../assets/img/dots.svg");
  background-size: 150px;
  background-repeat: no-repeat;
  background-position: 5% 15%;
}

.wines-image {
  padding: 75px 0px;

  background-image: url("../../assets/img/dots.svg");
  background-size: 150px;
  background-repeat: no-repeat;
  background-position: 90% 80%;

  img {
    padding: 20px;
    width: clamp(400px, 100%, 730px);
  } 
}
