@import '../../assets/scss/variables';

.content {
  border: 1px solid $primary;

  > * {
    height: 100%;
    padding-top: 100px !important;
    display: flex;
    flex-direction: column;
  }

  .login-redirect {
    padding: 0 80px;

    .login-btn {
      background-color: $secondary;
      color: $primary;
    }

    .squares-img {
      position: absolute;
      left: 0;
      bottom: -40px;
      z-index: 1;
      transform: rotate(180deg);
    }
  }

  .title {
    font-size: 27px;
    margin-bottom: 80px;
    text-align: center;
    font-weight: 500;
  }

  .register-section {
    padding: 0 100px;
    background-color: $secondary;
    background-image: url('../../assets/img/dots.svg');
    background-size: 130px;
    background-repeat: no-repeat;
    background-position: 100% 0%;

    .name-input {
      display: flex;
      gap: 10px;

      > * {
        flex: 1 auto;
      }
    }
  }
}

.forgot-password-form {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
