@import '../../assets/scss/variables';

.content {
  border: 1px solid $primary;
  padding: 100px 0;

  .title {
    font-size: 20px;
    margin-bottom: 40px;
    text-align: center;
  }

  .response-block {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
