@import 'assets/scss/variables';

body {
  margin: 0;
  font-family: 'M PLUS 1', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: 'M PLUS 1', sans-serif !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ant-image {
  position: static;
}

.ant-image-mask {
  border-radius: 44px !important;
}

.ant-image-img {
  width: fit-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input {
  padding: 9px 11px !important;
}

button {
  height: fit-content !important;
  padding: 9px 11px !important;
}

.ant-dropdown-menu-title-content {
  font-size: 16px;
}

.ant-space-item {
  font-size: 20px;
  color: $primary;
}

.ant-modal-close {
  padding: 0 !important;
}

.ant-modal-content {
  height: fit-content;
}
