@import '../../assets/scss/variables';

.content {
  padding: 100px 40px 200px 40px;
  justify-content: space-around;

  .wine-img {
    border: 1px solid #ebebeb;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 44px;
    padding: 20px 0;
    position: relative;

    img {
      object-fit: contain;
      width: 100%;
    }
  }

  .main-info-section {
    .name {
      font-size: 26px;
      font-weight: 600;
      letter-spacing: 0.5px;
      display: inline-block;
      margin-bottom: 30px;
    }

    .property {
      display: grid;
      grid-template-columns: 100px 1fr;
      gap: 30px;
      margin-bottom: 8px;

      span:first-of-type {
        color: $primary;
      }

      span:last-of-type {
        text-transform: capitalize;
        color: #848484;
      }

      > * {
        font-size: 18px;
      }
    }
  }

  .shop-availability {
    margin-top: 60px;
    display: grid;

    span {
      color: #848484;
      font-size: 26px;
      justify-self: center;
    }
  }
}
