@import '../../assets/scss/variables';

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 80px 80px 100px 80px;
}

.back-to-catalog {
  display: flex;
  align-items: center;
  color: $primary;
  gap: 8px;
  font-size: 18px;

  span {
    display: inline-block;
    margin-top: -4px;
  }

  span:hover {
    text-decoration: underline;
  }
}

.content {
  row-gap: 40px;
  column-gap: 80px;

  .wine-img {
    border: 1px solid #ebebeb;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 44px;
    padding: 20px 0;
    position: relative;
    height: 540px;

    .main-img {
      object-fit: contain;
      position: absolute !important;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .fav {
      position: absolute !important;
      top: 20px;
      right: 40px;
      width: 40px;
      height: 36px;
      cursor: pointer;
    }
  }

  .main-info-section {
    .name {
      font-size: 26px;
      font-weight: 600;
      letter-spacing: 0.5px;
      display: inline-block;
      margin-bottom: 30px;
    }

    .property {
      display: grid;
      grid-template-columns: 100px 1fr;
      gap: 30px;
      margin-bottom: 8px;

      span:first-of-type {
        color: $primary;
      }

      span:last-of-type {
        text-transform: capitalize;
        color: $secondary-font;
      }

      > * {
        font-size: 18px;
      }
    }
  }

  .shop-availability {
    margin-top: 60px;
    display: grid;

    span {
      color: $secondary-font;
    }

    span {
      font-size: 18px;
      margin-bottom: 10px;
    }

    .name {
      font-size: 26px;
      justify-self: center;
    }

    .price-item {
      display: flex;
      justify-content: space-between;

      > span:first-of-type {
        text-transform: capitalize;
        color: $primary;
      }

      a:hover {
        span {
          color: $primary;
          text-decoration: underline;
        }
      }
    }

    .price-item:first-of-type {
      margin-top: 20px;
    }
  }
}

.comment-length {
  font-size: 22px;
  color: $secondary-font;
  margin-bottom: 20px;
}

.comment-length ~ div {
  font-size: 18px;
  color: $secondary-font;
  margin-bottom: 20px;
}

.login-to-leave-comment {
  display: inline-block;
  font-size: 18px;
  color: $secondary-font;
  margin-bottom: 20px;

  .login-link {
    color: $primary;
  }
}

.comment-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-section {
  span {
    display: inline-block;
    font-size: 18px;
    color: $secondary-font;
    font-weight: 500;
    margin-bottom: 20px;
  }

  textarea {
    font-size: 16px;
  }
}
